.card{
    width: 400px;
    .imgContainer{
       
        img{
            max-width: 100%;
            //object-fit: cover;
            object-fit: scale-down;
        }
    }
    
    .card-body{
        .card-title{
            text-transform: capitalize;
            span{
                color:#999;
                font-weight: normal;
            }
        }
    }
}
